*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --bgColor:#AACCAC;
    --mainColor:#407376;
    --whiteColor:#FFF;
}
body {
    background-color: var(--bgColor);
}
.header {
    text-align: center;
    color:var(--whiteColor) ;
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 2em;
}
.num-task {
    text-align: center;
    color: var(--mainColor);
    font-weight: bold;
    font-size: 1.5em;
}
.add-task .add-btn {
    background-color: var(--mainColor);
    border: 1px solid var(--mainColor);
    padding: .5em;
    margin-top: 1em;
    position: relative;
    left: 80vw;
    cursor: pointer;
    margin-bottom: 2em;
}
.add-task .add-btn i {
    color: var(--whiteColor);
    font-size: 3em;
}
.all-tasks{
    width: 80vw;
    margin: 0 auto ;
}
.all-tasks .task {
    margin-bottom: 1em;
}
.all-tasks .task .head-task {
    background-color: var(--whiteColor);
    padding: 1em;
    border: 1px solid var(--mainColor);
    position: relative;
}
.all-tasks .task .head-task button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.all-tasks .task .head-task button i {
    font-size: 2em;
}
.all-tasks .task .head-task button.check i,
.all-tasks .task .head-task button.edit i {
    color: var(--mainColor);
}
.all-tasks .task .head-task button.edit i {
    position: absolute;
    right: 2em;
    top: .6em;
}
.all-tasks .task .head-task button.delete i{
    color: red;
    position: absolute;
    right: 1em;
    top: .6em;
}
.all-tasks .task .head-task .title-task {
    color: var(--mainColor);
    font-weight: bold;
    margin-left: 2%;
    margin-right: 40%;
    font-size: 1.5em;
}
.all-tasks .task .info-task {
    background-color: var(--whiteColor);
    padding: 1em;
    border: 1px solid var(--mainColor);
    border-top:0 ;
    font-size: 1.2em;
    display: block;
}
.checked {
    background-color: rgba(64, 115, 118,.5) !important;
}
.added {
    background-color:rgba(170, 204, 172,.5)
}
.add-task .add-form {
    background-color: var(--bgColor);
    z-index: 10;
    position: absolute;
    padding: 1em;
    width: 90vw;
    margin: 0 5vw;
    display: none;
}
.add-task .add-form i {
    color: var(--mainColor);
    font-size: 2em;
    position: relative;
    left: 70vw;
    margin-bottom: .5em;
    cursor: pointer;
} 
.add-task .add-form form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.add-task .add-form input { 
    display: block;
    margin-bottom: .5em;
    font-size: 1em;
    height: 5vh;
    padding: .3em;
    width: 80vw;
    outline: none;
}
.add-task .add-form input.desc-task-form {
    height: 10vh;
}
.add-task .add-form button {
    width: 80vw;
    color: var(--whiteColor);
    background-color: var(--mainColor);
    border: 1px solid var(--mainColor);
    height: 5vh;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (min-width:768px) {
    .add-task .add-btn {
        left:70vw;
    }
    .all-tasks{
        width: 50vw;
    }
    .add-task .add-form {
        width: 40vw;
        margin: 0 30vw;
    }
    .add-task .add-form i {
        left:35vw
    }
    .add-task .add-form input { 
        width: 30vw;
    }
    .add-task .add-form button {
        width: 30vw;
    }
}